<div class="user-account border p-2 bg-white">
  <div class="jumbotron text-center">
    <h1 class="text-primary h2">Connect with Buzzer</h1>      
    <p>Buzzer is the next big thing. It's like twitter. You buzz, not tweet.</p>
  </div>

  <%= form_for(@user, :url => sessions_path) do |f| %>
    <ul>
      <% @user.errors.full_messages.each do |error| %>
          <li><%= error %></li>
      <% end %>
    </ul>

    <div class="form-group mt-2">
      <%= f.label :username, "Username:" %>
      <%= f.text_field :username, class: 'form-control', placeholder: 'username' %>
    </div>
    
    <div class="form-grout mt-2">
      <%= f.submit "Login", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <p class="text-center mt-1">
    Don't have an account? <%= link_to 'Register here', new_user_path , class: "text-decoration-none" %>
  </p>
</div>
