<%= form_for(@user, html: {multipart: true}) do |f| %>
  <ul>
    <% @user.errors.full_messages.each do |error| %>
        <li><%= error %></li>
    <% end %>
  </ul>

  <div class="form-group mt-2">
    <%= f.label :username, "Usenname:" %>
    <%= f.text_field :username, class: 'form-control', placeholder: 'username' %>
  </div>

  <div class="form-group mt-2">
    <%= f.label :fullname, "Full Name:" %>
    <%= f.text_field :fullname, class: 'form-control', placeholder: 'Your Name' %>
  </div>
  
  <% if @show_media_edit %>
    <div class="custom-file m-3">
      <%= f.file_field :avatar_image, class: "custom-file-input" %>
      <%= f.label :avatar_image, "Avatar", class: 'custom-file-label' %>
    </div>

    <div class="custom-file m-3">
      <%= f.file_field :cover_image, class: "custom-file-input" %>
      <%= f.label :cover_image, "Cover Image", class: 'custom-file-label' %>
    </div>
  <% end %>

  <div class="mt-2">
    <%= f.submit @user.persisted? ? "Update" : "Register", class: 'btn btn-primary' %>
  </div>
<% end %>