<%= form_for(@user) do |f| %>
  <ul>
    <% @user.errors.full_messages.each do |error| %>
        <li><%= error %></li>
    <% end %>
  </ul>

  <div class="form-group mt-2">
    <%= f.label :username, "Usenname:" %>
    <%= f.text_field :username, class: 'form-control', placeholder: 'username' %>
  </div>

  <div class="form-group mt-2">
    <%= f.label :fullname, "Full Name:" %>
    <%= f.text_field :fullname, class: 'form-control', placeholder: 'Your Name' %>
  </div>
  
  <% if @show_media_edit %>
    <span>We update media here!</span>
  <% end %>

  <div class="mt-2">
    <%= f.submit @user.persisted? ? "Update" : "Register", class: 'btn btn-primary' %>
  </div>
<% end %>