<div class="d-flex justify-content-center align-items-center py-3">
    <% if current_user != @user && !current_user.following?(@user) %>
        <%= form_with(:url => followings_path) do |f| %>
            <%= f.hidden_field :user_id, value: @user.id %>
            <%= f.button :submit, class: 'text-success rounded-circle mr-2 border d-block' do %>
                <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
            <% end %>
        <% end %>
    <% elsif current_user != @user && current_user.following?(@user) %>
        <%= form_with(:url => following_path(@user), method: :delete) do |f| %>
            <%= f.hidden_field :user_id, value: @user.id %>
            <%= f.button :submit, class: 'text-danger rounded-circle mr-2 border d-block' do %>
                <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
            <% end %>
        <% end %>
    <% else %>
        <%= link_to edit_user_path, class: "text-decoration-none text-secondary big-icon mr-3" do %>
            <i class="fas fa-user-edit fa-lg" aria-hidden="true"></i>
        <% end %>
    <% end %>
    <%= render partial: "avatar", locals: {user: current_user, s: '100', class_str: "rounded-circle" } %>
    <span class="big-icon ml-3 text-secondary"><i class="fa fa-bug fa-lg" aria-hidden="true"></i></span>
</div>
<div class="text-center">
    <h5 class="text-secondary"><%= @user.fullname %></h5>
    <span>@<%= @user.username %> </span>
</div>
<div class="d-flex justify-content-between text-center border-top border-bottom my-3">
    <div class="p-3"><b><%= @user.buzz_count %></b><br>Buzzs</div>
    <div class="border-left border-right p-3"><b><%= @user.followed_count %></b><br>Following</div>
    <div class="p-3"><b><%= @user.followers_count %></b><br>Followers</div>
</div>

<% if current_user != @user %>
<div class="d-flex border-bottom p-2 mb-3">
    <span class="text-secondary">FOLLOWED BY</span>
</div>

<div class="d-flex p-2">
    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John Doe" class="rounded-circle" width="60" height="60" >
    <div class="pl-2">
        <strong class="text-secondary"><%= @user.fullname %></strong><br>
        <span>@<%= @user.username %> </span>
    </div>
    <%= link_to followings_path, class: "text-decoration-none text-secondary big-icon ml-auto align-self-center" do %>
        <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
    <% end %>
</div>

<% end %>
